* {
  font-family: YuGothic;
}

#a-body {

  margin : auto ;
  width : 1000px ;
}

header h1{
  text-align: center;
  color: #FFFACD;
  font-size: 50px;
}


header a {
  font-size: 45px;
  text-decoration: none;
}

footer {
  color: #666633;
  text-align: center;
}



body {
  font-size: 15px;
  background-color: #FFB6C1;
  padding-bottom: 30px;
}
