<!DOCTYPE html>
<html>
  <head>
    <title>Boy with Apple</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <h1>Boy with Apple</h1>
</header>


  <body>
    <%= yield %>
  </body>





</html>
